<%= form_for @score_type, html: {class: "form-horizontal"} do |f| %>
  <% if @score_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_type.errors.count, "error") %> prohibited this award option from being saved:</h2>
      <ul>
      <% @score_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :description, class: "form-control", required: true %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :instructions, class: "col-sm-2 control-label" %>
      <div class="col-sm-6" style=" border: 1px solid #e5e6e7;">
          <%= f.text_area :instructions, rows: 10, class: "form-control summernote", required: false %>
      </div>
  </div>

  <div class="hr-line-dashed"></div>
  <div class="form-group">
      <div class="col-sm-12">
          <button class="btn btn-primary" type="submit">Save Changes</button>
          <%= link_to "Cancel", score_types_path, :id => "open-contacts-dialog-btn", :class => "btn btn-white", :method => :get %>

      </div>
  </div>

<% end %>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.summernote').summernote();


});

</script>

<% end %>
