<%= render "shared/usaasc_head" %>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4>Menu Options</h4>
          </div>
          <div class="ibox-content">
            <ul>
              <li><%= link_to 'View Nomination Forms', :controller => "nominations", :action => "list" %></li>
            </ul>
            <% if not current_user.nil? %>

            <% if current_user.role == "admin" %>
            <ul>
              <li><%= link_to 'Manage Nomination Types', nomination_types_path %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Award Options', award_options_path %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Nominations', :controller => "nominations", :action => "index" %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Score Types', :controller => "score_types", :action => "index" %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Boards', :controller => "boards", :action => "index" %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Users', :controller => "users", :action => "index" %></li>
            </ul>
            <ul>
              <li><%= link_to 'Score Reports', :controller => "scores", :action => "reports" %></li>
            </ul>
            <% end %>

            <ul>
              <li><%= link_to 'View Boards', :controller => "boards", :action => "list" %></li>
            </ul>

            <% end %>
          </div>
        </div>
    </div>
</div>
