<%= render "shared/usaasc_head" %>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4>Menu Options</h4>
          </div>
          <div class="ibox-content">
            <ul>
              <li><%= link_to 'View Nomination Forms', :controller => "nominations" %></li>
            </ul>
            <% if not current_user.nil? %>
            <ul>
              <li><%= link_to 'Manage Nomination Types', nomination_types_path %></li>
            </ul>
            <ul>
              <li><%= link_to 'Manage Award Options', award_options_path %></li>
            </ul>
            <% end %>
          </div>
        </div>
    </div>
</div>
