
<div class="row">
<tr>

  <td style="width: 25%">

    <div class="form-group">
      <% if nom.nominee_team_name.blank? %>
        <%= "#{nom.nominee_title} #{nom.nominee_first_name} #{nom.nominee_last_name} #{nom.nominee_suffix}" %>
      <% else %>
        <%= nom.nominee_team_name %>
      <% end %>
      <br/>
      <%= nom.nominee_email %>
      <br/>
      <%= nom.nominee_organization %>
      <br/>
      <br/>

    </div>


  </td>

  <td style="width: 50%">
      <div class="col-sm-2">
      <div class="form-group">
        <%= label_tag "score_num[#{nom.id}]", "Score", class: " control-label" %><br/>
        <%= select_tag "score_num[#{nom.id}]", options_for_select(["1","2","3","4"], score.score_num ), class: "form-control col-sm-1" %>
      </div>
      </div>

      <div class="col-sm-2">
      <div class="form-group">
        <%= label_tag "score_txt[#{nom.id}]", "+/-", class: "control-label"%>
        <%= select_tag "score_txt[#{nom.id}]", options_for_select(["","+","-"], score.score_txt), class: "form-control col-sm-1" %>
      </div>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="col-sm-4">
        <div class="form-group">
        <%= label_tag "score_comments[#{nom.id}]", "Comments" %>
        <br/>
        <%= text_area_tag "score_comments[#{nom.id}]", score.score_comments, cols: 80, rows: 4 %>
        </div>
      </div>

  </td>

  <td>
    <% if not nom.submission_packet_url.blank? %>
    <%= link_to "View", nom.submission_packet_url, :target => "_blank" %>
    <% else %>
    Not Available
    <% end %>
  </td>

</tr>
</div>
