<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'boards', :action => 'list' %>">Virtual Board Scoring</a>
            </li>
            <li class="active">
                <strong><%= @board.description %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
      <div class="title-action">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path do %><i class="fa fa-sign-in"></i> Signin<% end %>
      <% else %>
        <%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
      <% end %>
      </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<%= form_tag "/scores" do  %>
<%= hidden_field_tag :board_id, @board.id %>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4>Virtual Board Scoring - <%= @board.description %></h4>
          </div>
          <div class="ibox-content">
            <% begin %>
            <% if @score.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@score.errors.count, "error") %> prohibited this award option from being saved:</h2>
                <ul>
                <% @score.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <% rescue %>
            <% end %>

            <h4>Scoring Method</h4>
            <%= @score_type.instructions.html_safe %>

            <% if @board.score_type_id == 6 %>
            <p>
            The table provides a rating scale for Judges to assign impact scores for the criteria
            within each of the below four categories per individual or team nomination.
            Judges should use the full range of the rating scale and spread their scores to
            better discriminate between potential awardees.
            The entire scale (1-9) should always be considered. If a tie arises between nominations
            after all judges have submitted their scores, the system will alert the administrator,
            and a tie-breaking request will go back out to the judges.
            </p>
            <div style=\" vertical-align:top; float:right; width:48%;\">
                <%= image_tag("impact scoring chart.png", alt: "logo") %>
               </div>  <div style=\"clear:both\">    <br>  </div>
            <table class=\"normal_table\">
              <tbody><tr>
                <td>
                  <table class="table">
                    <tbody><tr valign=\"top\">
                      <td><strong>Talent Management</strong>
                        <br>Teams effort to have people with right skills, in the right places, at the right times to support mission critical functions</td>
                        <td><strong>Leadership</strong><br>                  Teams leadership and knowledge transfer efforts to build competencies of current and future leaders</td>
                        <td><strong>Strategic Value</strong><br>                  Value of the Teams contributions in supporting ASA(ALT)s priorities</td>
                        <td><strong>Functional Area</strong><br>                  Teams performance relative to the specific functional area criteria.</td>                  </tr>
                    </tbody>
                  </table>
                </td>
                </tr></tbody>
              </table>
            <% end %>


            <% @end_date = @board.end_date.blank? ? "" : "This board will remain open until midnight of " + Date.strptime(@board.end_date , "%m/%d/%Y").strftime("%A, %m/%d/%Y") + ". " %>
            <p><%= @end_date %> You may login to check or edit your scoring until the board closes.</p>
            <br/>
            <% if not @board.combined_submission_packet_url.blank? %>
            <span style="float:left">
            <%= link_to "View/Print All Submission Documents", @board.combined_submission_packet_url, :target => "_blank" %>
            </span>
            <% end %>
            <span style="float:right">
              <%= link_to "View/Print Nomination Instructions", @board.nomination_type.implementing_instructions_url, :target => "_blank" %>
            </span>
            <br/>

            <div class="hr-line-solid"></div>
            <% setup_ok = true %>
            <% case @board.score_type_id %>
            <% when 1 then %>
              <%= render :partial => "score_1" %>
            <% when 2 then %>
              <%= render :partial => "score_2" %>
            <% when 3 then %>
              <%= render :partial => "score_3" %>
            <% when 4 then %>
              <%= render :partial => "score_4" %>
            <% when 5 then %>
              <%= render :partial => "score_5" %>
            <% when 6 then %>
              <%= render :partial => "score_6" %>
            <% else %>
              <%= render :partial => "tbd" %>
              <% setup_ok = false %>
            <% end %>

            <% if setup_ok && @score_any %>
              <div class="row">
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <div class="col-sm-12">
                      <button class="btn btn-primary" type="submit">Save Score</button>
                      <%= link_to "Cancel", :controller => :boards, :action => :list, :id => "open-contacts-dialog-btn", :class => "btn btn-white", :method => :get %>
                  </div>
              </div>
              </div>
            <% end %>

          </div>
        </div>
  </div>
</div>
<% end %>

<%= hidden_field_tag "nom_list", @nominations.pluck(:id).join(",") %>
<%= hidden_field_tag "aw_list", @award_options.pluck(:id).join(",") %>
<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

  function add(aw, nom) {
    var sum = 0;
    $(".score_" + aw + "_" + nom).each(function() {
      if ($(this).prop("id") != "") {
        sum += Number($(this).val());
      }
    });
    $(".score_total_" + aw + "_" + nom).val(sum);
  }

  $("[class^='score']").change(function (e) {
    score_class = $(this).prop("class").split(" ")[0];
    aw = score_class.split("_")[1]
    nom = score_class.split("_")[2]

    if (aw != "total") {
      add(aw, nom);

      if ($(this).prop("max") == $(this).val()) {
        $(this).css("background-color", "yellow");
      }
      else {
        $(this).css("background-color", "white");
      }
    }

  });

  $("[class^='score']").blur(function (e) {
    score_class = $(this).prop("class").split(" ")[0];
    aw = score_class.split("_")[1]
    nom = score_class.split("_")[2]

    if (aw != "total") {
      add(aw, nom);

      if ($(this).prop("max") == $(this).val()) {
        $(this).css("background-color", "yellow");
      }
      else {
        $(this).css("background-color", "white");
      }
    }

  });

  // initialize values
  aw_list = $("#aw_list").val().split(",");
  for ( i = 0; i < aw_list.length; i++ ) {
    $(".score_" + aw_list[i]).change();
  }

  $("[class^='score']").blur();

  not_complete = $(".not_completed");
  $.each( not_complete, function(key1, value1) {
    if ($(this).val() > 0) {
      id = ($(this).prop("id").split("_")[2]);
      $("#not_completed_"+id).html(" : " + $(this).val() +" remaining to score. ")
    } else {
      id = ($(this).prop("id").split("_")[2]);
      $("#not_completed_"+id).html(" : Scoring Completed! ")
    }
  });

});

</script>

<% end %>
