

<tr>

  <td style="width: 25%">

    <div class="form-group">
      <% if nom.nominee_team_name.blank? %>
        <%= "#{nom.nominee_title} #{nom.nominee_first_name} #{nom.nominee_last_name} #{nom.nominee_suffix}" %>
      <% else %>
        <%= nom.nominee_team_name %>
      <% end %>
      <br/>

      <br/>
      <%= nom.nominee_organization %>
      <br/>
      <br/>

    </div>


  </td>

  <td>
    <% if not nom.submission_packet_url.blank? %>
    <%= link_to "View", nom.submission_packet_url, :target => "_blank" %>
    <% else %>
    Not Available
    <% end %>
  </td>

  <%= hidden_field_tag "score_4[#{nom.id}]" %>
  <%= hidden_field_tag "score_5[#{nom.id}]" %>
  <%= hidden_field_tag "score_6[#{nom.id}]" %>
  <%= hidden_field_tag "score_7[#{nom.id}]" %>
  <%= hidden_field_tag "score_8[#{nom.id}]" %>
  <%= hidden_field_tag "score_9[#{nom.id}]" %>

  <td >

      <div class="form-group">
        <% @checkvar = (params[:action] == "show" || params[:action] == "score_print") ? true : false%>
        <% if not @callback_params.nil? %>
          <% score.score_1 = @callback_params[:score_1]["#{nom.id}"] %>
          <% score.score_2 = @callback_params[:score_2]["#{nom.id}"] %>
          <% score.score_3 = @callback_params[:score_3]["#{nom.id}"] %>
          <% score.score_4 = @callback_params[:score_4]["#{nom.id}"] %>
          <% score.score_5 = @callback_params[:score_5]["#{nom.id}"] %>
          <% score.score_6 = @callback_params[:score_6]["#{nom.id}"] %>
          <% score.score_7 = @callback_params[:score_7]["#{nom.id}"] %>
          <% score.score_8 = @callback_params[:score_8]["#{nom.id}"] %>
          <% score.score_9 = @callback_params[:score_9]["#{nom.id}"] %>
          <% score.score_total = @callback_params[:score_total]["#{nom.id}"] %>
          <% score.score_comments = @callback_params[:score_comments]["#{nom.id}"] %>      
        <% end %>
        <% if not @checkvar %>
        <%= number_field_tag "score_1[#{nom.id}]",  score.score_1, within: 1..50, class:  "score_#{aw}_#{nom.id} form-control col-sm-2", required: false, disabled: @checkvar %>
        <% else %>
        <%= score.score_1 %>
        <% end %>
      </div>


  </td>

  <td >

      <div class="form-group">
        <% if not @checkvar %>
        <%= number_field_tag "score_2[#{nom.id}]",  score.score_2, within: 1..30, class:  "score_#{aw}_#{nom.id} form-control col-sm-2", required: false, disabled: @checkvar %>
        <% else %>
        <%= score.score_2 %>
        <% end %>
      </div>


  </td>

  <td >

      <div class="form-group">
        <% if not @checkvar %>
        <%= number_field_tag "score_3[#{nom.id}]",  score.score_3, within: 1..20, class:  "score_#{aw}_#{nom.id} form-control col-sm-2", required: false, disabled: @checkvar %>
        <% else %>
        <%= score.score_3 %>
        <% end %>
      </div>


  </td>

  <td>
    <div class="form-group">
      <% if not @checkvar %>
      <%= number_field_tag "score_total[#{nom.id}]",  score.score_total, within: 1..100, class:  "score_total_#{aw}_#{nom.id} form-control col-sm-1", readonly: true %>
      <% else %>
      <%= score.score_total %>
      <% end %>
    </div>
  </td>



</tr>
<div class="row">
<tr>
  <td><%= label_tag "score_comments[#{nom.id}]", "Comments" %>
  </td>
  <td colspan="100">
    <%= text_area_tag "score_comments[#{nom.id}]",  score.score_comments,  rows: 3, class:  "form-control col-sm-10", required: false, disabled: @checkvar %>

  </td>
</tr>
</div>
