<% @score_any = false %>
<% @award_options.find_each do |aw|  %>
<% @noms = @nominations.where("award_option_id = ?", aw.id) %>
<% not_completed = 0 %>
<% if not @noms.empty? %>
<% @score_any = true %>
<h4> <%= aw.name %>  &nbsp;&nbsp;<%= @noms.count %> Nominations  <span id="not_completed_<%= aw.id %>"></span> </h4>
<div class="hr-line-dashed"></div>
    <table class="table table-striped table-bordered table-hover dataTables-example" style="width: 75%">
      <thead>
        <tr>
          <th scope="col" style="width: 25%">Nominee</th>
          <th scope="col" nowrap>Submission Packet</th>
          <th scope="col" style="width: 100px">Score</th>

        </tr>
      </thead>
      <tbody>
        <% if @noms.empty? %>
          <tr>
            <td colspan="3">
              <p> No Nominations to Score</p>
            </td>
          </tr>
        <% else %>
          <% @noms.find_each do |nom| %>

            <% score = @scores.where("nomination_id = ?", nom.id).first || Score.new %>
            <% if score.score_1.blank?  %>
              <% not_completed = not_completed + 1 %>
            <% end %>
            <%= render "score_1_nominations", :nom => nom, :score => score,  :aw => aw.id %>


          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= hidden_field_tag "not_completed_#{aw.id}_cnt", not_completed, class: "not_completed" %>
<% end %>

<% if not @score_any %>
  <h4>There are no nominations to score at this time.</h4>
<% end %>
