<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <%= render "shared/usaasc_vb" %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'scores', :action => 'reports' %>">Score Reports</a>
            </li>
            <li class="active">
            <strong><%= @board.description %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>



    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5>Score Report - <%= @board.description %></h5>
          <div class="title-action">

          </div>
      </div>
      <div class="ibox-content">

          <% @award_options.find_each do |aw|  %>

          <table class="table table-striped table-bordered table-hover dataTables-example">

              <%= @aw = aw.name %>
              <%= render "score_report_heading" %>

            <tbody>


            <% @noms = @nominations.where("award_option_id = ?", aw.id) %>
            <% @noms.find_each do |nom| %>
              <% grand_total = @scores.where("nomination_id = ? and user_id in (?)", nom.id, @board.users_list).sum(:score_total) %>
              <% @board.users_list.each do |judge| %>
              <% if not judge.blank? %>
                <% score = @scores.where("nomination_id = ? and user_id = ?", nom.id, judge).first || Score.new %>

                <tr>
                <td>
                  <%= User.find(judge).name %>
                </td>
                <td >

                  <div class="form-group">
                    <% if nom.nominee_team_name.blank? %>
                      <%= "#{nom.nominee_title} #{nom.nominee_first_name} #{nom.nominee_last_name} #{nom.nominee_suffix}" %>
                    <% else %>
                      <%= nom.nominee_team_name %>
                    <% end %>
                    <br/>
                    <%= nom.nominee_organization %>
                    <br/>
                  </div>

                </td>

                <td>
                  <% if not nom.submission_packet_url.blank? %>
                  <%= link_to "View", nom.submission_packet_url, :target => "_blank" %>
                  <% else %>
                  Not Available
                  <% end %>
                </td>

                  <%= render "score_report_scores", :score => score %>

                <td>
                  <div class="form-group">
                    <%=  score.score_total %>
                  </div>
                </td>

                <td>
                  <div class="form-group">
                    <%=  grand_total %>
                  </div>
                </td>

                <td>
                  <div class="form-group">
                    <%=  score.score_comments %>
                  </div>
                </td>

                </tr>
            <% end %>
            <% end %>
            <% end %>
            </tbody>
          </table>
          <div class="hr-line-dashed"></div>
          <% end %>
      </div>
    </div>



<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    colcnt = $("#colcnt").val()  || 0;
    //alert(colcnt);
    $('.dataTables-example').DataTable({
        dom: '<"html5buttons"B>',
        order:  [[ colcnt, 'desc' ], [ 0, 'asc' ]],
        pageLength: 100,
        buttons: [
            //{ extend: 'copy'},
            {extend: 'csv',   title: "Score Report - <%= @board.description %>",},
            {extend: 'excel',   title: "Score Report - <%= @board.description %>",},
            //{extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
                title: "Score Report - <%= @board.description %>",
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            },

        ]

    });

});

</script>

<% end %>
