<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'boards', :action => 'list' %>">Virtual Board Scoring</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'scores', :action => 'edit', :id => @board.id %>"><%= @board.description %></a>
            </li>
            <li class="active">
                <strong>Confirmatipn</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
      <div class="title-action">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path do %><i class="fa fa-sign-in"></i> Signin<% end %>
      <% else %>
        <%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
      <% end %>
      </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4>Virtual Board Scoring - <%= @board.description %></h4>
              <h3>These scores have been saved</h3>
          </div>
          <div class="ibox-content">

            <% case @board.score_type_id %>
            <% when 1 then %>
                  <%= render :partial => "score_1" %>
            <% else %>
                  <%= render :partial => "tbd" %>
            <% end %>

          </div>
        </div>
    </div>
</div>
