<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'users', :action => 'index' %>">Manage Users</a>
            </li>
        <li class="active">
            <strong>Edit</strong>
        </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Edit Users</h5>
            </div>
            <div class="ibox-content">


                              <!--form method="get" class="form-horizontal"-->
                              <!--%= form_for(@nomination) do |f| %-->
                              <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
                                <% if @user.errors.any? %>
                                  <div id="error_explanation">
                                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this nomination from being saved:</h2>
                                    <ul>
                                    <% @user.errors.full_messages.each do |message| %>
                                      <li><%= message %></li>
                                    <% end %>
                                    </ul>
                                  </div>
                                <% end %>

                                <div class="form-group">
                                    <%= f.label :name, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-4">
                                        <%= f.text_field :name, class: "form-control", required: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <%= f.label :email, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-4">
                                        <%= f.text_field :email, class: "form-control", required: true %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <%= f.label :role, class: "col-sm-2 control-label" %>
                                    <div class="col-sm-4">
                                        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
                                    </div>
                                </div>



                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>&nbsp;
                                        <%= link_to "Cancel", users_path, :id => "open-contacts-dialog-btn",
                        :class => "btn btn-white", :method => :get %>
                                    </div>
                                </div>

              <% end %>


              <% content_for :javascript do %>

              <script type="text/javascript">


              $(function() {

              });

              $.webshims.setOptions('basePath', '/webshims/1.15.10/shims/')
              $.webshims.polyfill()

              </script>

              <% end %>


            </div>
        </div>
    </div>
</div>
