
<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards</h2>
        <% if not current_user.nil? %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'nominations', :action => 'index' %>">Nomination Forms</a>
            </li>
        <li class="active">
            <strong><%= @info.code %></strong>
        </li>
        </ol>
        <% end %>
    </div>
    <div class="col-lg-2">
      <% if not current_user.nil? %>
      <div class="title-action">
          <%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
      </div>
      <% end %>
    </div>
</div>


<div class="row  white-bg page-heading">
  <div class="col-lg-10 col-lg-offset-1 ">

        <h2><%= "#{@info.year}  #{@info.title} Nomination Form" %></h2>
        <h4>Nominations are due by midnight on <%= Date.strptime(@info.nomination_end_date , "%m/%d/%Y").strftime("%A, %m/%d/%Y")
          %>.</h4>
        <p><%= @info.description %></p>

  </div>
</div>

<div class="row page-heading">
</div>
