
<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <% if not current_user.nil? %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'nominations', :action => 'list' %>">View Nomination Forms</a>
            </li>
        <li class="active">
            <strong><%= @info.code %></strong>
        </li>
        </ol>
        <% end %>
    </div>
    <div class="col-lg-2">
      <div class="title-action">

    </div>
</div>

<div class="row page-heading">
</div>


<% if @nomination.errors.any? %>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">

            <div class="ibox-content">

  <div id="error_explanation">
    <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

    <ul>
    <% @nomination.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>

</div>
</div>
</div>
</div>

<% end %>


<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Note: Use upper and lowercase letters when filling out this form.</h5>
            </div>
            <div class="ibox-content">

              <h2><%= "#{@info.year}  #{@info.title} Nomination Form" %></h2>
              <% if not @info.nomination_end_date.blank? %>
              <h4>Nominations are due by midnight on <%= Date.strptime(@info.nomination_end_date , "%m/%d/%Y").strftime("%A, %m/%d/%Y")
                %>.</h4>
              <% else %>
              <h4>&nbsp;</h4>
              <% end %>
              <p><%= @info.description %></p>

              <%= render "shared/nomination_body" %>


            </div>
        </div>
      </div>
</div>
