                    <% if not @manage_nomination.nil? %>

                    <% else %>
                    <%= f.hidden_field :nomination_type_id, :value => @info.id %>

                    <% end %>
                    <%= f.hidden_field :nomination_year, :value => @info.year %>

                    <% if not @manage_nomination.nil? %>
                    <% else %>
                    <div class="hr-line-dashed"></div>
                    <h2>Nomination Submission Documents</h2>
                    <div class="hr-line-solid"></div>

                    <div class="form-group col-lg-10 col-lg-offset-1 ">
                    <% if not @nomination_type == "ProductSupport" %>
                    <p>
                    All nominees must have one signed endorsement letter from their commander to be included with the submission packet.
                    </p>
                    <p>Nomination submission forms must include a list of names and position titles of all the individuals contributing to the team. </p>
                    <% end %>
                    <p>The Implementing Instructions document provides detailed instructions on how to format your nomination packet. The Submission Form and Award Narrative should be uploaded as a Word document. View the Award Narrative Sample of last year's winner and the Guidelines and Tips for help with your nomination packet. </p>
                    </div>


                    <div class="form-group">
                    <div class="infont col-md-5">
                      <i class="fa fa-file-pdf-o"></i>
                      <% if not @info.awards_announcement_url.nil? %>
                      <%= link_to "Awards Announcement", @info.awards_announcement_url, :target => "_blank" %>
                      <% else %>
                      <%= link_to "Awards Announcement", "#" %>
                      <% end %>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-5">
                      <i class="fa fa-file-pdf-o"></i>
                      <% if not @info.implementing_instructions_url.nil? %>
                      <%= link_to "Implementing Instructions", @info.implementing_instructions_url, :target => "_blank" %>
                      <% else %>
                      <%= link_to "Implementing Instructions", "#" %>
                      <% end %>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-5">
                      <i class="fa fa-file-word-o"></i>
                      <% if not @info.submission_form_url.nil? %>
                      <%= link_to "Submission Form and Award Narrative", @info.submission_form_url, :target => "_blank" %>
                      <% else %>
                      <%= link_to "Submission Form and Award Narrative", "#" %>
                      <% end %>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-5">
                      <i class="fa fa-file-pdf-o"></i>
                      <% if not @info.award_narrative_url.nil? %>
                      <%= link_to "Award Narrative Sample", @info.award_narrative_url, :target => "_blank" %>
                      <% else %>
                      <%= link_to "Award Narrative Sample", "#" %>
                      <% end %>
                    </div>
                    </div>

                    <!--div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-pdf-o"></i>
                      <% if not @info.guidelines_url.nil? %>
                      <%= link_to "Guidelines and Tips", @info.guidelines_url, :target => "_blank" %>
                      <% else %>
                      <%= link_to "Guidelines and Tips", "#" %>
                      <% end %>
                    </div>
                  </div-->
                  <div class="hr-line-dashed"></div>
                    <% end %>

                    <% if  @manage_nomination.nil? %>
                    <h2>Upload Completed Documents</h2>
                    <% else %>
                    <h2>Uploaded Documents</h2>
                    <% end %>
                    <div class="hr-line-solid"></div>
                    <% if not @nomination_type == "ProductSupport" %>
                    <div class="form-group">
                        <%= f.label :endorsement_letter, "* Endorsement Letter", class: "col-md-4"%>
                        <div class="col-sm-1">
                          <% if not @nomination.endorsement_letter_url.nil? %>
                          <%= link_to "View ", @nomination.endorsement_letter_url, :target => "_blank" %>
                          <% end %>
                        </div>
                        <div class="col-sm-4">
                          <%= f.file_field :endorsement_letter, class: "" %>
                          <%= f.hidden_field :endorsement_letter_cache %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :submission_form, "* Submission Form and Award Narrative", class: "col-sm-4" %>
                        <div class="col-sm-1">
                          <% if not @nomination.submission_form_url.nil? %>
                          <%= link_to "View", @nomination.submission_form_url, :target => "_blank" %>
                          <% end %>
                        </div>
                        <div class="col-sm-4">
                          <%= f.file_field :submission_form, class: "" %>
                          <%= f.hidden_field :submission_form_cache %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_organization_logo, "* Nominee Organizational Logo", class: "col-sm-4"%>
                      <div class="col-sm-1">
                        <% if not @nomination.nominee_organization_logo_url.nil? %>
                        <%= link_to "View", @nomination.nominee_organization_logo_url, :target => "_blank" %>
                        <% end %>
                      </div>
                        <div class="col-sm-4">
                          <%= f.file_field :nominee_organization_logo, class: "" %>
                          <%= f.hidden_field :nominee_organization_logo_cache %>
                          <span class="help-block m-b-none">Photos must be 1024 px wide or larger.</span>
                        </div>
                    </div>

                    <% end %>

                    <% if  @nomination_type == "ProductSupport" %>

                    <div class="form-group">
                        <%= f.label :submission_word_document, "* Submission Word Document", class: "col-md-4"%>
                        <div class="col-sm-1">
                          <% if not @nomination.submission_word_document_url.nil? %>
                          <%= link_to "View ", @nomination.submission_word_document_url, :target => "_blank" %>
                          <% end %>
                        </div>
                        <div class="col-sm-4">
                          <%= f.file_field :submission_word_document, class: "" %>
                          <%= f.hidden_field :submission_word_document_cache %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :submission_pdf, "* Submission PDF", class: "col-sm-4" %>
                        <div class="col-sm-1">
                          <% if not @nomination.submission_pdf_url.nil? %>
                          <%= link_to "View", @nomination.submission_pdf_url, :target => "_blank" %>
                          <% end %>
                        </div>
                        <div class="col-sm-4">
                          <%= f.file_field :submission_pdf, class: "" %>
                          <%= f.hidden_field :submission_pdf_cache %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_organization_logo, "* Nominee Organizational Logo", class: "col-sm-4"%>
                      <div class="col-sm-1">
                        <% if not @nomination.nominee_organization_logo_url.nil? %>
                        <%= link_to "View", @nomination.nominee_organization_logo_url, :target => "_blank" %>
                        <% end %>
                      </div>
                        <div class="col-sm-4">
                          <%= f.file_field :nominee_organization_logo, class: "" %>
                          <%= f.hidden_field :nominee_organization_logo_cache %>
                          <span class="help-block m-b-none">Photos must be 1024 px wide or larger.</span>
                        </div>
                    </div>

                    <% end %>




                    <h2>Unit Commander/Head of Organization</h2>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <p class="col-sm-2 control-label">Name</p>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2">
                                <%= f.text_field :unit_commander_title, class: "form-control" %>
                                <!---input type="text" placeholder="" class="form-control"--->
                              <%= f.label :unit_commander_title, "Rank", class: "help-block m-b-none" %></div>
                              <div class="col-md-3"><%= f.text_field :unit_commander_first_name, class: "form-control", required: true %>
                              <%= f.label :unit_commander_first_name, "* First Name", class: "help-block m-b-none" %></div>
                              <div class="col-md-4"><%= f.text_field :unit_commander_last_name, class: "form-control", required: true %>
                                <%= f.label :unit_commander_last_name, "* Last Name", class: "help-block m-b-none" %></div>
                                <div class="col-md-2"><%= f.text_field :unit_commander_suffix, class: "form-control" %>
                                <%= f.label :unit_commander_suffix, "Suffix", class: "help-block m-b-none" %></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :unit_commander_phone, "* Phone", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :unit_commander_phone, class: "form-control", required: true %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :unit_commander_email, "* Email", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :unit_commander_email, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :unit_commander_organization, "* Organization", class: "col-sm-2 control-label" %>
                        <div class="col-sm-4">
                          <%= f.text_field :unit_commander_organization, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Nomination Official Information</h2>
                    <span class="help-block m-b-none">
<strong>NOTE:  This section SHOULD ONLY BE FILLED OUT out if there’s a Nomination Official other than the Unit Commander/Head of Organization.</strong>
                    </span>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <p class="col-sm-2 control-label">Name</p>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominating_official_title, class: "form-control" %>
                              <%= f.label :nominating_official_title, "Rank", class: "help-block m-b-none" %></div>
                              <div class="col-md-3"><%= f.text_field :nominating_official_first_name, class: "form-control", required: false %>
                              <%= f.label :nominating_official_first_name, "First Name", class: "help-block m-b-none" %></div>
                              <div class="col-md-4"><%= f.text_field :nominating_official_last_name, class: "form-control", required: false %>
                                <%= f.label :nominating_official_last_name, "Last Name", class: "help-block m-b-none" %></div>
                                <div class="col-md-2"><%= f.text_field :nominating_official_suffix, class: "form-control" %>
                                <%= f.label :nominating_official_suffix, "Suffix", class: "help-block m-b-none" %></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_official_phone, "Phone", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_official_phone, class: "form-control", required: false %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_official_email, "Email", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_official_email, class: "form-control", required: false %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <h2>Nominating Point of Contact (POC)</h2>
                    <span class="help-block m-b-none">The POC is the person who will be contacted if there are any questions regarding the nomination.</span>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <p class="col-sm-2 control-label">Name</p>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_title, class: "form-control" %>
                              <%= f.label :nominating_point_of_contact_title, "Rank", class: "help-block m-b-none" %></div>
                              <div class="col-md-3"><%= f.text_field :nominating_point_of_contact_first_name, class: "form-control", required: true %>
                              <%= f.label :nominating_point_of_contact_first_name, "* First Name", class: "help-block m-b-none" %></div>
                              <div class="col-md-4"><%= f.text_field :nominating_point_of_contact_last_name, class: "form-control", required: true %>
                                <%= f.label :nominating_point_of_contact_first_name, "* Last Name", class: "help-block m-b-none" %></div>
                                <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_suffix, class: "form-control" %>
                                <%= f.label :nominating_point_of_contact_suffix, "Suffix", class: "help-block m-b-none" %></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_point_of_contact_phone, "* Phone", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_phone, class: "form-control", required: true %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_point_of_contact_email, "* Email", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_email, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_point_of_contact_organization_address_1, "* Organization's Address", class: "col-sm-2 control-label"%>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_organization_address_1, class: "form-control", required: true  %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominating_point_of_contact_organization_address_2, "Address Line 2", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_organization_address_2, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-4"><%= f.text_field :nominating_point_of_contact_city, class: "form-control", required: true %>
                              <%= f.label :nominating_point_of_contact_city, "* City", class: "help-block m-b-none" %></div>
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_state, class: "form-control" %>
                              <%= f.label :nominating_point_of_contact_state, "State", class: "help-block m-b-none" %></div>
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_zip, class: "form-control" %>
                                <%= f.label :nominating_point_of_contact_zip, "Zip", class: "help-block m-b-none" %></div>
                                <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_country, class: "form-control" %>
                                <%= f.label :nominating_point_of_contact_country, "Country", class: "help-block m-b-none" %></div>
                          </div>
                          <span class="help-block m-b-none">Awards will be shipped to this address if the winner is unable to attend the official presentation)
</span>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Award Information</h2>

                    <% if not @manage_nomination.nil? %>
                    <span class="help-block m-b-none">*** See Above ***</span>
                    <div class="hr-line-solid"></div>

                    <% else %>



                    <span class="help-block m-b-none"></span>
                    <div class="hr-line-solid"></div>

                    <div class="form-group"><%= f.label :award_option_id, "* Award", class: "col-sm-2 control-label" %>

                        <div class="col-sm-6">

                        <%= f.select :award_option_id, options_for_select(@award_options, @nomination.award_option_id),  {}, {class: "form-control m-b", required: true} %>


                        </div>
                    </div>

                    <% end %>

                    <div class="hr-line-dashed"></div>
                    <h2>Nominee Information</h2>
                    <span class="help-block m-b-none">An individual or team name is required.</span>
                    <div class="hr-line-solid"></div>

                    <div class="form-group">
                        <p class="col-sm-2 control-label">Name</p>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominee_title, class: "form-control" %>
                              <%= f.label :nominee_title, "Rank", class: "help-block m-b-none" %></div>
                              <div class="col-md-3"><%= f.text_field :nominee_first_name, class: "form-control", required: false %>
                              <%= f.label :nominee_first_name, "* First Name", class: "help-block m-b-none" %></div>
                              <div class="col-md-4"><%= f.text_field :nominee_last_name, class: "form-control", required: false %>
                                <%= f.label :nominee_last_name, "* Last Name", class: "help-block m-b-none" %></div>
                                <div class="col-md-2"><%= f.text_field :nominee_suffix, class: "form-control" %>
                                <%= f.label :nominee_suffix, "Suffix", class: "help-block m-b-none" %></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_team_name, "* Team Name", class: "col-sm-2 control-label" %>
                        <div class="col-sm-6">
                          <%= f.text_field :nominee_team_name, class: "form-control", required: false %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_position_title, "* Position Title", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominee_position_title, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_email, "* Email", class: "col-sm-2 control-label" %>
                        <div class="col-sm-3">
                          <%= f.text_field :nominee_email, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-2">
                      <span class="help-block m-b-none">Other team members' names can be included in the 2-page summary without counting towards the 2-page limit.</span>
                      </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_organization, "* Organization", class: "col-sm-2 control-label" %>
                        <div class="col-sm-4">
                          <%= f.text_field :nominee_organization, class: "form-control", required: true %>
                        </div>
                    </div>

                    <div class="form-group"><%= f.label :nominee_command, "* Command", class: "col-sm-2 control-label" %>
                        <div class="col-sm-4">
                          <%= f.text_field :nominee_command, class: "form-control", required: true %>
                        </div>
                    </div>
