<%= form_for(@board, html: {class: "form-horizontal"}) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
    <%= f.text_field :description, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :start_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.datetime_select :start_date, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :end_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.datetime_select :end_date, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :nomination_type_id, "Nomination Type", class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.select :nomination_type_id, options_for_select(@nomination_types,@board.nomination_type_id), {}, { :class => "form-control" } %>
    </div>
  </div>

  <div class="form-group row">
      <%= f.label :users_list, "Assigned Judges", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.select :users_list, options_for_select(@users_list,@board.users_list), {}, {:size => 10, :multiple => true, :class => "form-control" } %>
      </div>
      <div class="col-sm-4">
        <span class="help-block m-b-none"><br/>
        </span>
      </div>
  </div>

  <div class="hr-line-dashed"></div>
  <div class="form-group">
      <div class="col-sm-12">
          <button class="btn btn-primary" type="submit">Save Changes</button>
          <%= link_to "Cancel", boards_path, :id => "open-contacts-dialog-btn", :class => "btn btn-white", :method => :get %>
      </div>
  </div>
<% end %>
