<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <%= render "shared/usaasc_vb" %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li class="active">
                <strong>View Boards</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
      <div class="title-action">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path do %><i class="fa fa-sign-in"></i> Signin<% end %>
      <% else %>
        <%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
      <% end %>
      </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4>List of open Boards</h4>
          </div>
          <div class="ibox-content">
            <ul class="list-group clear-list">
              <% no_boards = true %>
              <% @boards.find_each do |n|  %>

              <% if current_user.admin? || ((not n.users_list.nil?) && (n.users_list.include?(current_user.id.to_s))) %>
              <% no_boards = false %>
              <li>

                  <a href="<%= url_for :controller => "scores", :action => 'edit', :id => n.id %>">
                    <%= n.description %>
                  </a>

              </li>
              <% end %>
              <% end %>
              <% if no_boards %>
                <h4>There are no boards setup to score</h4>
              <% end %>

            </ul>
          </div>
        </div>
    </div>
</div>
