

<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <%= render "shared/usaasc_vb" %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'boards', :action => 'index' %>">Boards</a>
            </li>
        <li class="active">
            <strong>Show</strong>
        </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Show Award Options</h5>
            </div>
            <div class="ibox-content">

              <p>
                <strong>Year:</strong>
                <%= @board.year %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @board.description %>
              </p>

              <p>
                <strong>Start date:</strong>
                <%= @board.start_date %>
              </p>

              <p>
                <strong>End date:</strong>
                <%= @board.end_date %>
              </p>

              <p>
                <strong>Nomination Type:</strong>
                <%= @board.nomination_type.code %>
              </p>

              <p>
                <strong>Assigned Judges:</strong>
                <% if not @board.users_list.nil? %>
                <%= @board.users_list.map {|u| User.all.find(u.to_i).name if not u.blank?}.join(" ") %>
                <% end %>

              </p>

              <p>
                <strong>Nomination Cnt:</strong>
                <%= @board.nomination_cnt %>
              </p>

              <p>
                <strong>Combined PDF:</strong>
                    <% if not @board.combined_submission_packet_url.blank? %>
                    <%= link_to "View", @board.combined_submission_packet_url, :target => "_blank" %>
                    <% end %>
              </p>

            </div>
        </div>
    </div>
</div>
