<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Note: Use upper and lowercase letters when filling out this form.</h5>
            </div>
            <div class="ibox-content">
                <!--form method="get" class="form-horizontal"-->
                <!--%= form_for(@nomination) do |f| %-->
                <%= form_for @nomination, url: "/packards/?#no-back", method: "post", html: {class: "form-horizontal"} do |f| %>
                  <% if @nomination.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

                      <ul>
                      <% @nomination.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                <!---%= form_for @nomination, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %--->
                    <%= f.hidden_field :nomination_type, :value => @nomination_type %>
                    <h2>Unit Commander/Head of Organization</h2>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2">
                                <%= f.text_field :unit_commander_title, class: "form-control" %>
                                <!---input type="text" placeholder="" class="form-control"--->
                              <span class="help-block m-b-none">Rank</span></div>
                              <div class="col-md-3"><%= f.text_field :unit_commander_first_name, class: "form-control" %>
                              <span class="help-block m-b-none">First Name</span></div>
                              <div class="col-md-4"><%= f.text_field :unit_commander_last_name, class: "form-control" %>
                                <span class="help-block m-b-none">Last Name</span></div>
                                <div class="col-md-2"><%= f.text_field :unit_commander_suffix, class: "form-control" %>
                                <span class="help-block m-b-none">Suffix</span></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-3">
                          <%= f.text_field :unit_commander_phone, class: "form-control" %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-3">
                          <%= f.text_field :unit_commander_email, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Organization</label>
                        <div class="col-sm-4">
                          <%= f.text_field :unit_commander_organization, class: "form-control" %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Nomination Official Information</h2>
                    <span class="help-block m-b-none">If different than the Unit Commander/Head of Organization noted above.</span>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominating_official_title, class: "form-control" %>
                              <span class="help-block m-b-none">Rank</span></div>
                              <div class="col-md-3"><%= f.text_field :nominating_official_first_name, class: "form-control" %>
                              <span class="help-block m-b-none">First Name</span></div>
                              <div class="col-md-4"><%= f.text_field :nominating_official_last_name, class: "form-control" %>
                                <span class="help-block m-b-none">Last Name</span></div>
                                <div class="col-md-2"><%= f.text_field :nominating_official_suffix, class: "form-control" %>
                                <span class="help-block m-b-none">Suffix</span></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_official_phone, class: "form-control" %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_official_email, class: "form-control" %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <h2>Nominating Point of Contact (POC)</h2>
                    <span class="help-block m-b-none">The POC is the person who will be contacted if there are any questions regarding the nomination.</span>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_title, class: "form-control" %>
                              <span class="help-block m-b-none">Rank</span></div>
                              <div class="col-md-3"><%= f.text_field :nominating_point_of_contact_first_name, class: "form-control" %>
                              <span class="help-block m-b-none">First Name</span></div>
                              <div class="col-md-4"><%= f.text_field :nominating_point_of_contact_last_name, class: "form-control" %>
                                <span class="help-block m-b-none">Last Name</span></div>
                                <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_suffix, class: "form-control" %>
                                <span class="help-block m-b-none">Suffix</span></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_phone, class: "form-control" %>
                          <span class="help-block m-b-none">Include dashes (e.g., 703-555-5555 or
International Prefix-Country Code-Area Code-xxx-xxxx)</span>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_email, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Organization's Address</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_organization_address_1, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Address Line 2</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominating_point_of_contact_organization_address_2, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-4"><%= f.text_field :nominating_point_of_contact_city, class: "form-control" %>
                              <span class="help-block m-b-none">City</span></div>
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_state, class: "form-control" %>
                              <span class="help-block m-b-none">State</span></div>
                              <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_zip, class: "form-control" %>
                                <span class="help-block m-b-none">Zip</span></div>
                                <div class="col-md-2"><%= f.text_field :nominating_point_of_contact_country, class: "form-control" %>
                                <span class="help-block m-b-none">Country</span></div>
                          </div>
                          <span class="help-block m-b-none">Awards will be shipped to this address if the winner is unable to attend the official presentation)
</span>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Award Information</h2>
                    <span class="help-block m-b-none">If different than the Unit Commander/Head of Organization noted above.</span>
                    <div class="hr-line-solid"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Award</label>

                        <div class="col-sm-6">
                        <%= select_tag(:award, options_for_select(session[:award_options]), class: "form-control m-b") %>


                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Nominee Information</h2>
                    <span class="help-block m-b-none">An individual or team name is required.</span>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                          <div class="row">
                              <div class="col-md-2"><%= f.text_field :nominee_title, class: "form-control" %>
                              <span class="help-block m-b-none">Rank</span></div>
                              <div class="col-md-3"><%= f.text_field :nominee_first_name, class: "form-control" %>
                              <span class="help-block m-b-none">First Name</span></div>
                              <div class="col-md-4"><%= f.text_field :nominee_last_name, class: "form-control" %>
                                <span class="help-block m-b-none">Last Name</span></div>
                                <div class="col-md-2"><%= f.text_field :nominee_suffix, class: "form-control" %>
                                <span class="help-block m-b-none">Suffix</span></div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Position Title</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominee_position_title, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-3">
                          <%= f.text_field :nominee_email, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-2">
                      <span class="help-block m-b-none">Other team members' names can be included in the 2-page summary without counting towards the 2-page limit.</span>
                      </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Organization</label>
                        <div class="col-sm-4">
                          <%= f.text_field :nominee_organization, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Command</label>
                        <div class="col-sm-4">
                          <%= f.text_field :nominee_command, class: "form-control" %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Nomination Submission Documents</h2>
                    <div class="hr-line-solid"></div>

                    <div class="form-group col-lg-10 col-lg-offset-1 ">
                    <p>
                    All nominees must have one signed endorsement letter from their commander to be included with the submission packet.
                    </p>
                    <p>Nomination submission forms must include a list of names and position titles of all the individuals contributing to the team. </p>
                    <p>NOTE: The Implementing Instructions document provides detailed instructions on how to format your nomination packet. The Submission Form and Award Narrative should be uploaded as a Word document. View the Award Narrative Sample of last year's winner and the Guidelines and Tips for help with your nomination packet. </p>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-pdf-o"></i>
                      <a href="#">Awards Announcement</a>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-pdf-o"></i>
                      <a href="#">Implementing Instructions</a>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-word-o"></i>
                      <a href="#">Submission Form and Award Narrative</a>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-pdf-o"></i>
                      <a href="#">Award Narrative Sample</a>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="infont col-md-3 col-sm-4">
                      <i class="fa fa-file-pdf-o"></i>
                      <a href="#">Guidelines and Tips</a>
                    </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Upload Completed Documents</h2>
                    <div class="hr-line-solid"></div>
                    <div class="form-group">
                        <label class="col-md-3">Endorsement Letter</label>
                        <div class="col-sm-4">
                          <%= f.file_field :endorsement_letter, class: "" %>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-3">Submission Form and Award Narrative</label>
                        <div class="col-sm-4">
                          <%= f.file_field :submission_form, class: "" %>
                        </div>
                    </div>


                    <% if @nomination_type == "Packard" %>
                    <div class="form-group"><label class="col-sm-3">Nominee Organizational Logo</label>
                        <div class="col-sm-4">
                          <%= f.file_field :nominee_organizational_logo, class: "" %>
                          <span class="help-block m-b-none">Photos must be 1024 px wide or larger.</span>
                        </div>
                    </div>
                    <% else %>
                    <div class="form-group"><label class="col-sm-3">Nominee Photograph 1</label>
                        <div class="col-sm-4">
                          <%= f.file_field :photo_a, class: "" %>
                          <span class="help-block m-b-none">Photos must be 1024 px wide or larger.</span>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-3">Nominee Photograph 2</label>
                        <div class="col-sm-4">
                          <%= f.file_field :photo_b, class: "" %>
                          <span class="help-block m-b-none">Photos must be 1024 px wide or larger.</span>
                        </div>
                    </div>
                    <% end %>

                    <div class="hr-line-dashed"></div>
                    <p>For questions regarding your nomination submission, please contact the awards POC, Ms. Vicky Deguzman, at (703) 805-1245 or email <a href="mailto:victoria.l.deguzman.civ@mail.mil">victoria.l.deguzman.civ@mail.mil</a>.</p>
                    <p>To visit the Awards General Information website, please go to: <a href="http://asc.army.mil/web/acquisition-awards/">http://asc.army.mil/web/acquisition-awards/</a>.</p>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" type="submit">Submit Nomination</button>
                            <button class="btn btn-white" type="reset">Cancel</button>
                        </div>
                    </div>
                <!--/form-->
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    //$('.i-checks').iCheck({
     //   checkboxClass: 'icheckbox_square-green',
     //   radioClass: 'iradio_square-green',
    //});

});

</script>

<% end %>
