


<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
              <%= link_to 'Manage Nominations', :action => "index" %>
            </li>
        <li class="active">
            <strong>Manage</strong>
        </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>



<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
      <% if @nomination.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>
          <ul>
          <% @nomination.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>



<%= form_for @nomination, html: {class: "form-horizontal"} do |f| %>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Manage Nomination Options</h5>
                </br>
                <div class="help-block m-b-none">Change meta data about the Nomination</div>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content">
              <div class="form-group row">
                <label class="col-sm-2 control-label">Created Date</label>
                <div class="col-sm-2">
                  <span class="form-control"><%= @nomination.created_at.strftime("%m/%d/%Y") %>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                  <%= f.label :nomination_type_id, "Nomination", class: "col-sm-2 control-label" %>
                  <div class="col-sm-3">
                    <%= f.select :nomination_type_id, options_for_select(@nomination_types, @nomination.nomination_type_id), {}, {class: "form-control m-b", required: false } %>
                  </div>
                  <div class="help-block m-b-none col-sm-6">NOTE:  You can change the Nomination and Award to any combination, there is no validation at this time.</div>


              </div>
              <div class="form-group row">
                  <%= f.label :award_option_id, "Award", class: "col-sm-2 control-label" %>

                  <div class="col-sm-6">

                  <%= f.select :award_option_id, options_for_select(@award_options, @nomination.award_option_id),  {}, {class: "form-control m-b", required: true} %>


                  </div>
              </div>
              <div class="form-group row">
                  <%= f.label :status, "Status", class: "col-sm-2 control-label" %>
                  <div class="col-sm-2">
                    <%= f.select :status, options_for_select([:entered, :approved, :scored, :deleted], @nomination.status), {}, {class: "form-control m-b", required: false, onchange: "fillStatusDesc();"} %>
                  </div>
                  <div class="col-sm-6">
                    <span class="help-block m-b-none" id="status_desc"></span>
                  </div>
              </div>

              <div class="form-group row">
                  <%= f.label :build_submission_packet, "Build Submission Packet", class: "col-sm-2 control-label" %>
                  <div class="col-sm-1">
                    <%= select_tag :build_submission_packet, options_for_select([:no, :yes]), class: "form-control" %>
                  </div>
                  <div class="col-sm-6">
                    <span class="help-block m-b-none">Automatically combine the Endorsement Letter and Submission Document into a single PDF.  If there is a problem,
                    you have the option to upload the Submission Packet manually.</span>
                  </div>
              </div>

              <div class="form-group row">
                <%= f.label :submission_packet, "Upload Submission Packet", class: "col-sm-2", style: "text-align: right"%>
                <% if not @nomination.submission_packet_url.blank? %>
                <div class="col-sm-3">

                  <%= link_to "View Submission Packet", @nomination.submission_packet_url, :target => "_blank",style: "valign: middle" %>
                  <br/>
                  <%= f.check_box :remove_submission_packet %>
                  &nbsp;
                  <%= label_tag :remove_submission_packet %>

                </div>
                <% end %>
                  <div class="col-sm-4">
                    <%= f.file_field :submission_packet, class: "" %>
                    <%= f.hidden_field :submission_packet_cache %>

                  </div>
              </div>
              <% if current_user.admin? %>
              <div class="hr-line-dashed"></div>
              <div class="form-group row">
                  <div class="col-sm-12">
                      <button class="btn btn-primary" type="submit">Update Nomination</button>
                      <%= link_to "Cancel", nominations_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-white", :method => :get %>

                  </div>
              </div>
              <% end %>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Manage Nomination Form </h5>
                <br/>
                <div class="help-block m-b-none">Change nomination form informaiton</div>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content">

              <%= render :partial => "shared/nomination_base", locals: { f: f} %>

              <% if current_user.admin? %>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <div class="col-sm-12">
                      <button class="btn btn-primary" type="submit">Update Nomination</button>
                      <%= link_to "Cancel", nominations_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-white", :method => :get %>

                  </div>
              </div>
              <% end %>


            </div>
        </div>
    </div>
</div>
      <% end %>

      <% content_for :javascript do %>

        <script type="text/javascript">

          $(function() {

            $.webshims.setOptions('basePath', '/webshims/1.15.10/shims/')
            $.webshims.polyfill('forms forms-ext')






          });

          function fillStatusDesc() {
            $("#status_desc").html("")
            if ($("#nomination_status").val() == "entered") {
              $("#status_desc").html("entered status description")


            }
          }








        </script>

      <% end %>

      <% if not current_user.admin? %>
        <script type="text/javascript">
        $("#edit_nomination_1 :input").attr("disabled", true);
        </script>
      <% end %>
