<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li class="active">
            <strong>Manage Nominations</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
<div class="col-lg-10 col-lg-offset-1">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Manage Nominations</h5>

</div>
<div class="ibox-content">

  <%= form_tag nominations_path, :method => 'get', :id => 'form_search' do %>
    <p>
      Name:&nbsp;<%= text_field_tag :search, params[:search], placeholder: "Nominee/Nominator/POC " %>
      &nbsp;&nbsp;
      Nomination Type:&nbsp;
      <%= select_tag :nomination_type, options_from_collection_for_select(NominationType.all.order("code"), 'id', 'code', params[:nomination_type]), include_blank: "All" %>
      &nbsp;&nbsp;
      Award Option:&nbsp;
      <%= select_tag :award, options_from_collection_for_select(AwardOption.all.order("name"), 'id', 'name', params[:award]), include_blank: "All" %>


    </p>
    <p>   Status:&nbsp;
          <% cnt = 0 %>
          <% @statuses.each do  |s| %>

            <label class="">
            <% if params[:status].include? "#{cnt}" %>
            <input name="status[]" class="search_status" id='status<%="#{cnt}"%>' type="checkbox"  checked="checked" value='<%="#{cnt}"%>'> <%= s %></input>
            <% else %>
            <input name="status[]" class="search_status" id='status<%="#{cnt}"%>' type="checkbox" value='<%="#{cnt}"%>'> <%= s %></input>
            <% end %>
            </label>&nbsp;
            <% cnt=cnt+1 %>
          <% end %>

    </p>
    <p>
      <%= submit_tag "Search", :name => nil %>
      &nbsp;&nbsp;
      <input value="Reset" type="button" onclick='$("#search").val("");$("#nomination_type").prop("selectedIndex",0);$("#award").prop("selectedIndex",0);$(".search_status").attr("checked",false)'/>
      <span style="float:right"><%= @nominations.count %> Nomination(s)</span>
    </p>

  <% end %>

<table class="table table-striped table-bordered table-hover dataTables-example">
  <thead>
    <tr>
      <th>Nominee</th>
      <th>Nominator/POC</th>
      <th>Type</th>
      <th>Award</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nominations.each do |nom| %>
      <tr>
        <td>
          <% if nom.nominee_team_name.blank? %>
          <%= "#{nom.nominee_title} #{nom.nominee_first_name} #{nom.nominee_last_name} #{nom.nominee_suffix}" %>
          <% else %>
          <%= nom.nominee_team_name %>
          <% end %>
          <br/>
          
          <br/>
          <%= nom.nominee_organization %>
        </td>
        <td>Nominator: <%= "#{nom.nominating_official_title} #{nom.nominating_official_first_name} #{nom.nominating_official_last_name} #{nom.nominating_official_suffix}" %>
          <br/>
          <%= nom.nominating_official_email %>
          <br/>
          POC:<%= "#{nom.nominating_point_of_contact_title} #{nom.nominating_point_of_contact_first_name} #{nom.nominating_point_of_contact_last_name} #{nom.nominating_point_of_contact_suffix}" %>
          <br/>
          <%= nom.nominating_point_of_contact_email %>
        </td>
        <td><% begin %><%= nom.nomination_type.code %><% rescue %><% end %></td>
        <td><%= nom.award_option.name %></td>
        <td><%= nom.status %>
        <td><%= link_to 'Manage', edit_nomination_path(nom) %>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @nominations %>
</div>
</div>
</div>
</div>
