<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards <%= ENV["APP_VERSION"] %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li class="active">
            <strong>Manage Nominations</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
<div class="col-lg-10 col-lg-offset-1">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Manage Nominations</h5>
    <div class="title-action">
<%= link_to 'New Nomination', :action => "list" %>
    </div>
</div>
<div class="ibox-content">

  <%= form_tag nominations_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>

  <% end %>

<table class="table table-striped table-bordered table-hover dataTables-example">
  <thead>
    <tr>
      <th>Nominee</th>
      <th>Nominator (POC)</th>
      <th>Type</th>
      <th>Award</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nominations.each do |nom| %>
      <tr>
        <td><%= "#{nom.nominee_title} #{nom.nominee_first_name} #{nom.nominee_last_name}" %></td>
        <td><%= "#{nom.nominating_point_of_contact_title} #{nom.nominating_point_of_contact_first_name} #{nom.nominating_point_of_contact_last_name}" %></td>
        <td><% begin %><%= nom.nomination_type.code %><% rescue %><% end %></td>
        <td><%= nom.award_option.name %></td>
        <td><%= link_to 'Show', nom %>
        <%= link_to 'Destroy', nom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @nominations %>
</div>
</div>
</div>
</div>
