<p id="notice"><%= notice %></p>

<h1>Listing Nomination Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nomination_types.each do |nomination_type| %>
      <tr>
        <td><%= link_to 'Show', nomination_type %></td>
        <td><%= link_to 'Edit', edit_nomination_type_path(nomination_type) %></td>
        <td><%= link_to 'Destroy', nomination_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomination type', new_nomination_type_path %>
