
                <!--form method="get" class="form-horizontal"-->
                <!--%= form_for(@nomination) do |f| %-->
                <%= form_for @award_option, html: {class: "form-horizontal"} do |f| %>
                  <% if @award_option.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@award_option.errors.count, "error") %> prohibited this nomination from being saved:</h2>
                      <ul>
                      <% @award_option.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="form-group">
                      <%= f.label :name, class: "col-sm-2 control-label" %>
                      <div class="col-sm-4">
                          <%= f.text_field :name, class: "form-control", required: true %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :nomination_type_id, class: "col-sm-2 control-label" %>
                      <div class="col-sm-2">
                        <%= collection_select(:award_option, :nomination_type_id, NominationType.all, :id, :code, {:prompt=> " - Select One - "}, {:class=>'form-control',  :required => true}) %>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                      <div class="col-sm-12">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                          <%= link_to "Cancel", award_options_path, :id => "open-contacts-dialog-btn", :class => "btn btn-white", :method => :get %>

                      </div>
                  </div>

<% end %>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

});

$.webshims.setOptions('basePath', '/webshims/1.15.10/shims/')
$.webshims.polyfill()

</script>

<% end %>
