
                <!--form method="get" class="form-horizontal"-->
                <!--%= form_for(@nomination) do |f| %-->
                <%= form_for @nomination_type, html: {class: "form-horizontal"} do |f| %>
                  <% if @nomination_type.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@nomination_type.errors.count, "error") %> prohibited this nomination from being saved:</h2>
                      <ul>
                      <% @nomination_type.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="form-group row">
                      <%= f.label :award_years_list, "Award Years", class: "col-sm-2 control-label" %>
                      <div class="col-sm-1">
                        <%= f.select :award_years_list, options_for_select(@award_years_list,@nomination_type.award_years_list), {}, {:size => 4, :multiple => true, :class => "form-control" } %>
                      </div>
                      <div class="col-sm-4">
                        <span class="help-block m-b-none"><br/>
                        </span>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :code, class: "col-sm-2 control-label" %>
                      <div class="col-sm-2">
                          <%= f.text_field :code, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :title, class: "col-sm-2 control-label" %>
                      <div class="col-sm-6">
                          <%= f.text_field :title, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group" id="data_1">
                      <%= f.label :nomination_end_date, class: "col-sm-2 control-label" %>
                      <div class="input-group date col-sm-2" style="padding-left: 15px;">
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <%= f.text_field :nomination_end_date, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :description, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.text_area :description, rows: 6, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :awards_announcement, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.file_field :awards_announcement, style: "padding-top: 7px" %>
                          <% if not @nomination_type.awards_announcement_url.blank? %>
                          <%= link_to "View #{@nomination_type.awards_announcement_identifier} ", @nomination_type.awards_announcement_url %>
                          <% end %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :implementing_instructions, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.file_field :implementing_instructions, style: "padding-top: 7px" %>
                          <% if not @nomination_type.implementing_instructions_url.blank? %>
                          <%= link_to "View #{@nomination_type.implementing_instructions_identifier} ", @nomination_type.implementing_instructions_url %>
                          <% end %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :submission_form, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.file_field :submission_form, style: "padding-top: 7px" %>
                          <% if not @nomination_type.submission_form_url.blank? %>
                          <%= link_to "View #{@nomination_type.submission_form_identifier} ", @nomination_type.submission_form_url %>
                          <% end %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :award_narrative, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.file_field :award_narrative, style: "padding-top: 7px" %>
                          <% if not @nomination_type.award_narrative_url.blank? %>
                          <%= link_to "View #{@nomination_type.award_narrative_identifier} ", @nomination_type.award_narrative_url %>
                          <% end %>
                      </div>
                  </div>
                  <div class="form-group">
                      <%= f.label :guidelines, class: "col-sm-2 control-label" %>
                      <div class="col-sm-10">
                          <%= f.file_field :guidelines, style: "padding-top: 7px" %>
                          <% if not @nomination_type.guidelines_url.blank? %>
                          <%= link_to "View #{@nomination_type.guidelines_identifier} ", @nomination_type.guidelines_url %>
                          <% end %>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                      <div class="col-sm-12">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                          <%= link_to "Cancel", nomination_types_path, :id => "open-contacts-dialog-btn", :class => "btn btn-white", :method => :get %>
                      </div>
                  </div>

<% end %>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
$('#data_1 .input-group.date').datepicker({
    todayBtn: "linked",
    keyboardNavigation: true,
    forceParse: true,
    calendarWeeks: true,
    autoclose: true
});
});

$.webshims.setOptions('basePath', '/webshims/1.15.10/shims/')
$.webshims.polyfill('forms forms-ext')

</script>

<% end %>
