<%= form_for(@nomination_type, html: {class: "form-horizontal"} ) do |f| %>
  <% if @nomination_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination_type.errors.count, "error") %> prohibited this nomination_type from being saved:</h2>

      <ul>
      <% @nomination_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :awards_announcement %><br>
    <%= f.file_field :awards_announcement %>
  </div>
  <div class="field">
    <%= f.label :implementing_instructions %><br>
    <%= f.file_field :implementing_instructions %>
  </div>
  <div class="field">
    <%= f.label :submission_form %><br>
    <%= f.file_field :submission_form %>
  </div>
  <div class="field">
    <%= f.label :award_narrative %><br>
    <%= f.file_field :award_narrative %>
  </div>
  <div class="field">
    <%= f.label :guidelines %><br>
    <%= f.file_field :guidelines %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
