<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li class="active">
            <strong>Nomination Types</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row page-heading">
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>



<div class="row">
<div class="col-lg-10 col-lg-offset-1">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Nomination Types</h5>
    <div class="title-action">
<%= link_to 'New Nomination type', new_nomination_type_path %>
    </div>
</div>
<div class="ibox-content">

<table class="table table-striped table-bordered table-hover dataTables-example">
  <thead>
    <tr>
      <th>Year</th>
      <th>Code</th>
      <th>Title</th>
      <th>Description</th>
      <th>Awards announcement</th>
      <th>Implementing instructions</th>
      <th>Submission form</th>
      <th>Award narrative</th>
      <th>Guidelines</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @nomination_types.each do |nomination_type| %>
      <tr>
        <td><%= nomination_type.year %></td>
        <td><%= nomination_type.code %></td>
        <td><%= nomination_type.title %></td>
        <td><%= nomination_type.description %></td>
        <td><% if not nomination_type.awards_announcement.blank? %><%= link_to "View", nomination_type.awards_announcement_url %><% end %></td>
        <td><% if not nomination_type.implementing_instructions_url.blank? %><%= link_to "View", nomination_type.implementing_instructions_url %><% end %></td>
        <td><% if not nomination_type.submission_form_url.blank? %><%= link_to "View", nomination_type.submission_form_url %><% end %></td>
        <td><% if not nomination_type.award_narrative_url.blank? %><%= link_to "View", nomination_type.award_narrative_url %><% end %></td>
        <td><% if not nomination_type.guidelines_url.blank? %><%= link_to "View", nomination_type.guidelines_url %><% end %></td>
        <td><%= link_to 'Show', nomination_type %>
        <%= link_to 'Edit', edit_nomination_type_path(nomination_type) %>
        <%= link_to 'Destroy', nomination_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
