<div class="row  white-bg page-heading">
    <div class="col-lg-8 col-lg-offset-1">
        <h2>USAASC Virtual Boards</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'landing', :action => 'index' %>">Home</a>
            </li>
            <li>
                <a href="<%= url_for :controller => 'nomination_types', :action => 'index' %>">Nomination Types</a>
            </li>
        <li class="active">
            <strong>Show</strong>
        </li>
        </ol>
    </div>
    <div class="col-lg-2">
    <div class="title-action">
        <%= link_to '/users/sign_out', :method => :delete do %><i class="fa fa-sign-out"></i> Signoff<% end %>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p id="notice"><%= notice %></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Show Nomination Types</h5>
            </div>
            <div class="ibox-content">


<p>
  <strong>Year:</strong>
  <%= @nomination_type.year %>
</p>

<p>
  <strong>Code:</strong>
  <%= @nomination_type.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nomination_type.description %>
</p>

<p>
  <strong>Nomination End Date:</strong>
  <%= @nomination_type.nomination_end_date %>
</p>

<p>
  <strong>Awards announcement:</strong>
  <%= link_to "#{@nomination_type.awards_announcement_identifier} ", @nomination_type.awards_announcement_url %>
</p>

<p>
  <strong>Implementing instructions:</strong>
  <%= link_to "#{@nomination_type.implementing_instructions_identifier} ", @nomination_type.implementing_instructions_url %>
</p>

<p>
  <strong>Submission form:</strong>
  <%= link_to "#{@nomination_type.submission_form_identifier} ", @nomination_type.submission_form_url %>
</p>

<p>
  <strong>Award narrative:</strong>
  <%= link_to "#{@nomination_type.award_narrative_identifier} ", @nomination_type.award_narrative_url %>
</p>

<p>
  <strong>Guidelines:</strong>
  <%= link_to "#{@nomination_type.guidelines_identifier} ", @nomination_type.guidelines_url %>
</p>
<!--
<%= link_to 'Edit', edit_nomination_type_path(@nomination_type) %> |
<%= link_to 'Back', nomination_types_path %>
-->
</div>
</div>
</div>
</div>
